.base-button {
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: $c-text;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $c-secondary;

  &_secondary {
    color: $c-text-reverse;
    background-color: $c-input-border;
  }
}
