.container {
  width: map-get($container-max-widths, lg);
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @include respDown(md) {
    width: map-get($container-max-widths, md);
  }

  @include respDown(sm) {
    width: map-get($container-max-widths, sm);
  }
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: #{$header-height}px;
}

html,
body {
  height: 100%;
}

#root {
  height: 1px;
  min-height: 100%;
}
