html {
  font-size: 16px;
}

body {
  font-family: $f-main;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: $c-text;
  background-color: $c-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  @extend .h1;
}

h2 {
  @extend .h2;
}

h3 {
  @extend .h3;
}

h4 {
  @extend .h4;
}

h5,
h6 {
  @extend .h5;
}

p {
  @extend p;
}

