html {
  font-size: 16px;
}

body {
  font-family: $f-main;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: $c-text;
  background-color: $c-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
