$c-primary: #111;
$c-darkness: #363636;
$c-blue: #56bcc8;
$c-muted: #dedcda;
$c-muted-dark: #aeada9;
$c-warning: #f3b761;
//$c-primary: #1D2620;
$c-secondary: #e31d1d;
//$c-secondary: #A2B522;
$c-text: #fff;
$c-error: red;
$c-grey: #b8b7b7;
$c-input-border: #e3e3e3;
$c-text-reverse: #000;


$c-chat-sidebar: #242424;
$c-chat-user-card: #36373b;
$c-chat-user-card-active: #1f394f;
$c-chat-primary: #111;
$c-chat-secondary: #e31d1d;
$c-chat-message: #aeacaa;
$c-chat-gray: #b4b6c1;
$c-chat-border: #454545;
