.chat {
  position: relative;
  height: 100%;
  overflow: hidden;
  //min-height: calc(100vh - #{$header-height}px);

  &__container {
	height: 100%;
  }

  &-main {
	position: relative;
	height: 100%;

	&__wrapper {
	  height: 100%;
	}

	&__holder {
	  position: relative;
	  display: flex;
	  height: 100%;
	  overflow: hidden;
	  border-radius: 4px;
	}

	&__empty {
	  display: flex;
	  flex: 1;
	  align-items: center;
	  justify-content: center;
	  padding: 2rem;

	  @include respDown(sm) {
		display: none;
	  }
	}
  }
}

.badge {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  min-width: 1.188rem;
  min-height: 1.188rem;
  padding: 0.3rem;
  font-size: 0.5rem;
  background-color: $c-chat-secondary;
  border-radius: 100%;

  &_br {
	border-radius: 0.5rem;
  }
}
