.chat-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__info {
    display: flex;
    align-items: center;
  }

  &__image {
    position: relative;
    padding: 0.1rem;
    margin-right: 0.625rem;
    overflow: hidden;
    font-size: 1.5rem;
    border: 2px solid #207ecd;
    border-radius: 100%;
  }

  &__name {
    margin-right: 0.625rem;
  }

  &__date {
    margin-top: 0.4em;
    color: $c-chat-gray;
  }

  &__message {
    display: flex;
    align-items: center;

    &-text {
      padding: 0.625rem 0.75rem;
      margin-top: 0.425rem;
      //margin-left: 1rem;
      font-size: 0.9rem;
      line-height: 1.4;
      word-break: break-all;
      background-color: $c-chat-user-card-active;
      border: 0.063rem solid #207ecd;
      border-radius: 0.75rem;
      border-top-left-radius: 0;
    }

    &-icons {
      flex-shrink: 0;
      margin-left: 0.5rem;
      color: $c-chat-gray;
    }
  }

  &_is-my-message {
    @include respDown(sm) {
      align-items: flex-end;
    }

    .chat-message {
      &__info {
        @include respDown(sm) {
          flex-direction: row-reverse;
        }
      }

      &__image {
        border: 2px solid $c-chat-secondary;

        @include respDown(sm) {
          flex-direction: row-reverse;
          margin-right: 0;
          margin-left: 0.625rem;
        }
      }

      &__name {
        font-weight: bold;
        text-decoration: underline;

        @include respDown(sm) {
          margin-right: 0;
          margin-left: 0.625rem;
        }
      }

      &__message {
        @include respDown(sm) {
          flex-direction: row-reverse;
        }

        &-text {
          background-color: #591616;
          border: 0.063rem solid $c-chat-secondary;

          @include respDown(sm) {
            border-top-left-radius: 0.75rem;
            border-top-right-radius: 0;
          }
        }

        &-icons {
          @include respDown(sm) {
            margin-right: 0.5rem;
            margin-left: 0;
          }
        }
      }
    }
  }
}
