$padding: 1rem;

.chat-sidebar {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 100%;
  padding: $padding;
  background-color: $c-chat-sidebar;

  @include respDown(sm) {
    width: 100%;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    &-title {
      display: block;
      margin-right: 0.5rem;
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: -0.1rem;
    }
  }

  &__general {
    margin-bottom: 1rem;
  }

  &__users {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 1px;

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      color: $c-chat-gray;

      &-icon {
        font-size: 0.8rem;
      }
    }

    &-list {
      flex: 1;
      padding: 0 1rem;
      margin: 0 -1rem;
      overflow-x: hidden;
      overflow-y: auto;

      &-item {
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }
    }

    &-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem;
      margin: auto;

      &-icon {
        font-size: 2rem;
      }

      &-text {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}
