$padding: 1rem 2rem;
$padding-sm: 1rem;


.chat-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid $c-chat-border;
  transition: transform 0.3s;

  @include respDown(sm) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateX(100%);
  }

  &_active {
	transform: translateX(0);
  }

  &-panel {
	position: relative;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	padding: $padding;
	background-color: $c-chat-sidebar;
	border-bottom: 1px solid $c-chat-border;

	@include respDown(sm) {
	  padding: $padding-sm;
	}

	&__back {
	  margin-right: 2rem;
	  font-size: 1.2rem;
	  color: $c-chat-gray;
	  cursor: pointer;
	  transition: color 0.3s;

	  @include hover {
		color: $c-text;
	  }

	  //@include respUp(md) {
		//display: none;
	  //}

	  @include respDown(sm) {
		margin-right: 1.5rem
	  }
	}

	&__call {
	  margin-left: auto;
	}

	&__recipient {
	  display: flex;
	  align-items: center;

	  &-image {
		position: relative;
		padding: 0.1rem;
		margin-right: 0.625rem;
		overflow: hidden;
		font-size: 2.5rem;
		border: 2px solid $c-chat-secondary;
		border-radius: 100%;
	  }

	  &-name {
		word-break: break-word;
	  }
	}

	&__actions {
	  margin-left: auto;

	  button {
		font-size: 1.5rem;
		color: $c-chat-gray;
		cursor: pointer;
		transition: color 0.3s;

		@include respDown(sm) {
		  font-size: 1.2rem;
		}

		@include hover {
		  color: $c-text;
		}

		&:not(:last-child) {
		  margin-right: 1.5rem;
		}
	  }
	}
  }

  &-chat {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 1px;
	min-height: 256px;
	//background-image: url("~/src/assets/images/messages.jpg");
	background: $c-chat-primary;

	&__messages {
	  display: flex;
	  flex: 1;
	  flex-direction: column-reverse;
	  padding: $padding;
	  overflow-x: hidden;
	  overflow-y: auto;

	  @include respDown(sm) {
		padding: $padding-sm;
	  }

	  &-item {
		margin-bottom: 20px;
	  }

	  &-empty {
		margin: auto;
	  }
	}

	&__message {
	  display: inline-block;
	  padding: 0.625rem 0.75rem;
	  font-size: 0.9rem;
	  background-color: $c-error;
	  border-radius: 12px;

	  &_primary {
		background-color: $c-message-primary;
	  }

	  &-text {
		word-break: break-all;
	  }
	}

	&__new-message {
	  padding: $padding;
	  background-color: $c-chat-sidebar;
	  border-top: 1px solid $c-chat-border;

	  @include respDown(sm) {
		padding: $padding-sm;
	  }
	}

	&__field {
	  position: relative;
	  display: flex;
	  flex-shrink: 0;
	  align-items: center;
	  width: 100%;
	  height: 4.375rem;
	  background-color: #36373b;
	  border-radius: 1.4rem;

	  &-input {
		flex: 1;
		height: 2.5rem;
		padding: 0.5rem 1rem;
		font-size: 1rem;
		color: $c-text;
		resize: none;
		background-color: transparent;
		border: none;
		outline: none;

		&::placeholder {
		  color: $c-chat-gray;
		}
	  }

	  &-button {
		padding: 0.5rem 1rem;
		font-size: 2rem;
		color: $c-chat-gray;
		cursor: pointer;
		transition: color 0.3s;

		@include hover {
		  color: $c-text;
		}

		@include respDown(sm) {
		  font-size: 1rem;
		}

		&_smile {
		  padding-left: 2rem;
		  border-right: 1px solid $c-chat-border;

		  @include respDown(sm) {
			padding-left: 1rem;
		  }
		}

		&_send {
		  padding-right: 2rem;
		  color: $c-chat-secondary;
		  border-left: 1px solid $c-chat-border;

		  @include respDown(sm) {
			padding-right: 1rem;
		  }
		}
	  }
	}
  }
}
