@mixin h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 120%;

  @include respDown(md) {
    font-size: 2.155rem;
  }

  @include respDown(sm) {
    font-size: 1.74rem;
  }
}

@mixin h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 120%;

  @include respDown(sm) {
    font-size: 3rem;
  }
}

@mixin h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;

  @include respDown(md) {
    font-size: 1.5rem;
  }
}

@mixin h4 {
  font-size: 2rem;
  line-height: 140%;

  @include respDown(md) {
    font-size: 1.3rem;
  }
}

@mixin h5 {
  font-size: 1rem;
  line-height: 140%;
}

@mixin p {
  font-size: 0.875rem;
  line-height: 160%;

  @include respDown(md) {
    font-size: 0.775rem;
  }
}

@mixin small {
  font-size: 0.675rem;
  line-height: 160%;

  @include respDown(md) {
    font-size: 0.475rem;
  }
}
