@mixin h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 110%;
}

@mixin h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 110%;
}

@mixin h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 110%;
}

@mixin h4 {
  font-size: 2rem;
  line-height: 110%;
}

@mixin h5 {
  font-size: 1.5rem;
  line-height: 110%;
}

@mixin p {
  font-size: 0.875rem;
  line-height: 160%;
}
