.menu {
  display: flex;
  align-items: center;

  @include respDown(sm) {
    display: none;
  }

  &__list {
    display: flex;
    margin: 0 -15px -10px;

    &-item {
      padding: 0 15px;
      margin-bottom: 10px;

      &-link {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.07em;
      }
    }
  }
}
