.comment-add {
  padding: 16px;
  color: $c-text-reverse;
  background-color: $c-text;
  border: 1px solid $c-secondary;
  border-radius: 8px;

  &__fields {
    margin-top: 32px;
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__submit {
    margin-top: 32px;
  }
}
