@import "base/reset";
@import "base/typography";
@import "base/layout";
@import "base/fonts";
@import "base/buttons";
@import "base/base-image";
@import "base/base-modal";
@import "base/base-inputs";
@import "base/editor";

.base-animation {
  overflow: hidden;
}

.bold {
  font-weight: 700;
}

.w-auto {
  width: auto;
}

.base-section {
  padding: 120px 0;
  overflow: hidden;

  @include respDown(sm) {
    padding: 60px 0;
  }

  &:last-of-type {
    margin-bottom: 120px;

    @include respDown(sm) {
      margin-bottom: 60px;
    }
  }
}

.base-title {
  width: 100%;
  margin-bottom: 90px;
  text-align: center;

  @include respDown(sm) {
    margin-bottom: 55px;
  }
}

.spinner {
  width: 50px;
  height: 50px;
  margin: auto;
  animation: rotate 2s linear infinite;

  & .path {
    stroke: $c-grey;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.error {
  display: flex;
  align-items: center;
  height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__status {
    //
  }

  &__status-text {
    margin-top: 24px;
  }

  &__button {
    margin-top: 32px;
  }
}

.pt-32 {
  padding: 32px 0;
}

.mt-32 {
  margin: 32px 0;
}

.h-100 {
  height: 100%;
}

.max-h-100 {
  max-height: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}
.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.icon {
  display: block;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &_w-20 {
    width: 20px;
    height: 20px;
  }

  &_w-25 {
    width: 25px;
    height: 25px;
  }

  &_w-40 {
    width: 40px;
    height: 40px;
  }

  &_opacity-5 {
    opacity: 0.5;
  }

  &_address-book {
    background-image: url("../svg/address-book.svg");
  }

  &_user-alt-6 {
    background-image: url("../svg/user-alt-6.svg");
  }

  &_arrow-left {
    background-image: url("../svg/arrow-left.svg");
  }

  &_ui-call {
    background-image: url("../svg/ui-call.svg");
  }

  &_send-mail {
    background-image: url("../svg/send-mail.svg");
  }

  &_nerd-smile {
    background-image: url("../svg/nerd-smile.svg");
  }

  &_notification {
    background-image: url("../svg/notification.svg");
  }
}

.shadow-up {
  box-shadow: 0 -2px 20px black;
}

.shadow-down {
  box-shadow: 0 2px 20px black;
}

.shadow-right {
  box-shadow: 2px 0 20px black;
}

.shadow-left {
  box-shadow: -2px 0 20px black;
}

textarea {
  font-family: $f-main;
}
