@import "base/reset";
@import "base/typography";
@import "base/layout";
@import "base/fonts";
@import "base/buttons";
@import "base/base-image";
@import "base/base-modal";
@import "base/base-inputs";
@import "base/editor";

.base-animation {
  overflow: hidden;
}

.bold {
  font-weight: 700;
}

.w-auto {
  width: auto;
}

.base-section {
  padding: 120px 0;
  overflow: hidden;

  @include respDown(sm) {
    padding: 60px 0;
  }

  &:last-of-type {
    margin-bottom: 120px;

    @include respDown(sm) {
      margin-bottom: 60px;
    }
  }
}

.base-title {
  width: 100%;
  margin-bottom: 90px;
  text-align: center;

  @include respDown(sm) {
    margin-bottom: 55px;
  }
}

.spinner {
  width: 50px;
  height: 50px;
  margin: auto;
  animation: rotate 2s linear infinite;

  & .path {
    stroke: $c-grey;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.error {
  display: flex;
  align-items: center;
  height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__status {
    //
  }

  &__status-text {
    margin-top: 24px;
  }

  &__button {
    margin-top: 32px;
  }
}

.pt-32 {
  padding: 32px 0;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}
.mr-8 {
  margin-right: 8px;
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &_address-book {
    background-image: url("../svg/address-book.svg");
  }

  &_user-alt-6 {
    background-image: url("../svg/user-alt-6.svg");
  }
}
