.main-banner {
  position: relative;
  flex: 1 0 auto;
  width: 100%;
  overflow: hidden;

  @include respUp(lg) {
    display: flex;
    align-items: center;
    min-height: calc(100vh - #{$header-height}px);
  }

  & + section {
    //margin-top: 120px;
    //
    //@include respDown(sm) {
    //  margin-top: 60px;
    //}
  }

  .container {
    position: relative;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem 0;

    @include respDown(md) {
      padding: 3rem 0 0;
    }
  }

  &__col {
    flex: 1 1 50%;
    max-width: 50%;

    @include respDown(md) {
      flex: 1 1 100%;
      max-width: 100%;
    }

    &_left {
      position: relative;
      z-index: 1;

      @include respDown(sm) {
        margin-bottom: 3rem;
      }
    }
  }

  &__title,
  &__description {
    text-transform: uppercase;
  }

  &__title {
    width: max-content;

    @include respUp(md) {
      width: 120%;
    }
  }

  &__description {
    margin-top: 1rem;
  }

  &__button {
    margin-top: 3rem;

    @include respDown(md) {
      margin-top: 2rem;
    }
  }

  &__figure {
    position: relative;
    color: $c-text;

    @include aspect-ratio(1 / 1);

    &-circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 5%;
      overflow: hidden;
      border-radius: 100%;

      &-inner {
        position: relative;
        width: 100%;
        height: 100%;
      }

      &-bg {
        position: absolute;
        top: 7%;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: $c-secondary;
        border-radius: 100%;
      }

      &-text {
        position: absolute;
        top: 16%;
        right: 10%;
      }
    }

    .base-image {
      top: 50%;
      left: 50%;
      width: calc(100% * 1.8);
      height: calc(100% * 1.8);
      margin-top: 35%;
      margin-left: -5%;
      transform: translate(-50%, -50%);
    }
  }
}
