.main-banner {
  position: relative;
  flex: 1 0 auto;
  width: 100%;
  overflow: hidden;

  .container {
    position: relative;
  }

  &__image {
    @include aspect-ratio(1800 / 2400);

    max-width: 558px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;

    @include respDown(sm) {
      left: 15px;
    }
  }

  &__title {
    font-size: 7.2rem;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;

    @include respDown(md) {
      font-size: 3.8rem;
    }

    @include respDown(sm) {
      font-size: 1.8rem;
    }

    .text2 {
      position: relative;
      z-index: -1;
    }

    .name {
      display: inline-block;
      margin-top: 2.5rem;

      @include respDown(sm) {
        margin-top: 1rem;
      }
    }
  }

  &__description {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;

    @include respDown(sm) {
      margin-top: 4rem;
      font-size: 1rem;
    }
  }

  &__button {
    margin-top: 5rem;

    @include respDown(sm) {
      margin-top: 1rem;
    }
  }
}
